<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
       <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class]="themeClass()">
  <div class="guide-container">
    @if (isLoading()) {
      <div class="loading-container">
        <p>Loading content...</p>
      </div>
    } @else {
      <div class="guide-content" [innerHTML]="currentGuide.content"></div>
    }
  </div>
</ion-content>
